<!-- Template: {{ _self }}.twig -->
{# Params #}
{% set title = title is not defined ? null : title %}
{% set image = image is not defined ? null : image %}
{% set url = url is not defined ? null : url %}

{# Output #}
{% if title or image %}
  <a class="block bg-white p-8" href="{{ url }}" aria-label="{{ title }}">
    <img src="https://s7d5.scene7.com/is/image/Specialized/95221-01_LEVO-SW-CARBON-29-REDTNT-BLK_HERO?$hybris-pdp-hero$" />

    {# Meta #}
    <div class="text-black">
      <div class="text-lg font-medium">
        {{ title }}
      </div>
      <div>
        $1,234
      </div>
    </div>
  </a>
{% endif %}
