<!-- Template: {{ _self }}.twig -->
{# Params #}
{% set types = types is not defined ? [] : types %}
{% set selected = selected is not defined ? null : selected %}

{# Variables #}

{# Output #}
{% if types|length %}
  <ul>
    {% for bikeCategory in types %}
      <li>
        <a class="{{ selected == bikeCategory.id ? 'font-bold' : '' }}" href="{{ bikeCategory.url }}">{{ bikeCategory.title }}</a>
      </li>
    {% endfor %}
  </ul>
{% endif %}
