<!-- Template: {{ _self }}.twig -->
{% import '_includes/macros' as _macros %}

{# Params #}
{% set types = types is not defined ? [] : types %}
{% set selected = selected is not defined ? null : selected %}

{# Variables #}

{# Output #}
{% if types|length %}
  <ul class="-mx-3">
    {% for type in types %}
      <li class="my-1">
        <a class="flex items-center font-medium text-black hover:bg-gray-200 block px-3 py-1 rounded {{ selected == type.id ? 'bg-gray-300' : '' }}" href="{{ type.url }}">
          {{ type.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
{% endif %}
