{% set crumbs = [
  { label: "Account"|t('site'), url: url('account') },
] %}

{# Layout #}
{% extends '_layouts/site' %}

{# Blocks #}
{% block content %}
  <div class="bg-gray-100 py-8">
    <div class="max-w-4xl mx-auto space-y-6">
      <h1 class="text-4xl text-center">Membership</h1>
    </div>
  </div>
{% endblock %}