{# Layout #}
{% extends '_layouts/site' %}

{# Blocks #}
{% block content %}
  {% include '_includes/components/hero' with {
    title: 'Orders',
    short: true,
  } only %}

  <div class="bg-gray-100">
    <div class="max-w-4xl mx-auto py-8 space-y-6">
      {% include '_includes/components/order' %}
      {% include '_includes/components/order' %}
      {% include '_includes/components/order' %}
      {% include '_includes/components/order' %}
    </div>
  </div>
{% endblock %}