body {
  /* Turn on kerning, standard ligatures, contextual ligatures and proportional, oldstyle numerals, diagonal fractions and ordinals */
  font-variant-ligatures: common-ligatures;
  font-variant-ligatures: contextual;
  font-variant-numeric: proportional-nums;
  @apply antialiased;
  @apply text-base;
  @apply text-gray-900;
}

:focus {
  outline: 3px transparent;
  box-shadow: 0 0 0 3px rgba(0,125,250,.6);
  border-color: #7eaee9;
}