
<p>Paragraphs and the inline elements that may occur within them. It contains many different, sometimes useful,
  <a href="http://www.w3schools.com/tags/">HTML5 tags</a>. Of course there are classics like
  <em>emphasis</em>,
  <strong>strong</strong>, and
  <small>small</small>
  but there are many others as well. Hover the following text for abbreviation tag:
  <abbr title="abbreviation">abbr</abbr>. Similarly, you can use acronym tag like this:
  <acronym title="Self-Contained Underwater Breathing Apparatus">scuba</acronym>. You can define
  <del>deleted text</del>
  which often gets replaced with
  <ins>inserted</ins>
  text. Alternatively, you may want to <mark>mark text</mark> to highlight it's relevance, such as within search results.</p>
<p>You can also use
  <kbd>keyboard text</kbd>, which sometimes is styled similarly to the
  <code>&lt;code&gt;</code>
  or
  <samp>samp</samp>
  tags. Even more specifically, there is a tag just for
  <var>variables</var>. Not to be mistaken with blockquotes below, the quote tag lets you denote something as
  <q>quoted text</q>. Lastly don't forget the sub (H<sub>2</sub>O) and sup (E = MC<sup>2</sup>) tags.
</p>
<p>
  In modus probatus voluptatum mea, id noster probatus sea. Eu case essent mea, in solum qualisque duo. Pro tota idque dolores no, laoreet lucilius id sea, cu quo erat interpretaris. Vis discere accusata an, ius ne possim diceret, at prima complectitur his. Errem nostrum mediocrem vim cu, maiorum splendide in his.
</p>