<div>
  <h3>Table with semantic elements ommitted… 🤦‍♂️</h3>
  <table>
    <tr>
      <th>Someone Lastname</th>
      <td>900</td>
      <td>Nullam quis risus eget urna mollis ornare vel eu leo.</td>
    </tr>
    <tr>
      <th>
        Person Name
      </th>
      <td>1200</td>
      <td>Vestibulum id ligula porta felis euismod semper. Donec ullamcorper nulla
        non metus auctor fringilla.</td>
    </tr>
    <tr>
      <th>Another Person</th>
      <td>1500</td>
      <td>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
        Nullam id dolor id nibh ultricies vehicula ut id elit.</td>
    </tr>
    <tr>
      <th>Last One</th>
      <td>2800</td>
      <td>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis
        consectetur purus sit amet fermentum.</td>
    </tr>
  </table>
</div>

<div>
  <h3>Table with header, body and caption</h3>
  <table>
    <caption>Tables can have captions now.</caption>
    <thead>
      <tr>
        <th>Person</th>
        <th>Number</th>
        <th>Third Column</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Someone Lastname</td>
        <td>900</td>
        <td>Nullam quis risus eget urna mollis ornare vel eu leo.</td>
      </tr>
      <tr>
        <td>
          <a href="#">Person Name</a>
        </td>
        <td>1200</td>
        <td>Vestibulum id ligula porta felis euismod semper. Donec ullamcorper
          ulla non metus auctor fringilla.</td>
      </tr>
      <tr>
        <td>Another Person</td>
        <td>1500</td>
        <td>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
          Nullam id dolor id nibh ultricies vehicula ut id elit.</td>
      </tr>
      <tr>
        <td>Last One</td>
        <td>2800</td>
        <td>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras
          mattis consectetur purus sit amet fermentum.</td>
      </tr>
    </tbody>
  </table>
</div>

<div>
  <h3>Table with footer and body</h3>
  <table>
    <tfoot>
      <tr>
        <th>Person</th>
        <th>Number</th>
        <th>Third Column</th>
      </tr>
    </tfoot>
    <tbody>
      <tr>
        <td>Someone Lastname</td>
        <td>900</td>
        <td>Nullam quis risus eget urna mollis ornare vel eu leo.</td>
      </tr>
      <tr>
        <td>
          <a href="#">Person Name</a>
        </td>
        <td>1200</td>
        <td>Vestibulum id ligula porta felis euismod semper. Donec ullamcorper
          nulla non metus auctor fringilla.</td>
      </tr>
      <tr>
        <td>Another Person</td>
        <td>1500</td>
        <td>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
          Nullam id dolor id nibh ultricies vehicula ut id elit.</td>
      </tr>
      <tr>
        <td>Last One</td>
        <td>2800</td>
        <td>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras
          mattis consectetur purus sit amet fermentum.</td>
      </tr>
    </tbody>
    <caption>☞ Fun fact: despite coming <em>after</em> <code>tbody</code> table
      captions will always render above the table, whilst <code>tfooter</code>
      will always render after the table, even when it precedes <code>tbody</code>
      in the markup.</caption>
  </table>
</div>
