{% if crumbs is defined and crumbs %}
  <nav class="bg-gray-100 border-b border-gray-200 flex" aria-label="Breadcrumb">
    <ol class="max-w-screen-lg w-full mx-auto px-4 flex space-x-4 sm:px-6 lg:px-8">
      {% for crumb in crumbs %}
        <li class="flex">
          <div class="flex items-center">
            <a href="{{ crumb.url }}" aria-current="page" class="mr-4 text-sm font-medium text-gray-500 hover:text-gray-700">{{ crumb.label }}</a>

            <svg class="flex-shrink-0 w-6 h-full text-gray-200" viewBox="0 0 24 44" preserveAspectRatio="none" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
              <path d="M.293 0l22 22-22 22h1.414l22-22-22-22H.293z" />
            </svg>
          </div>
        </li>
      {% endfor %}
    </ol>
  </nav>
{% endif %}


