<!-- Template: {{ _self }}.twig -->
{# Variables #}
{% set showNav = showNav is not defined ? true : showNav %}

{# Output #}
<header id="header" x-data="header()" x-init="init" @scroll.window="onScroll" :class="{
    'fixed-nav': true
}">
  <div id="main-nav"
       class="py-3 text-lg font-medium border-b border-solid border-gray-200 bg-white transform transition-transform"
       :class="{
'duration-300': scrollDirection == 'up' || (scrollDirection == 'down' && hasScrolledPastHeader()),
'translate-y-0': mainNavVisible,
'-translate-y-full': !mainNavVisible,
'fixed top-0 left-0 right-0 z-10': mainNavFixed,
}"
  >
    <div class="px-4 lg:px-0 lg:container">
      <div class="flex w-full">
        <div class="flex flex-1 justify-between items-center">
          <!-- Mobile menu button -->
          <div class="lg:hidden">
            <button @click="showNav = !showNav"
                    class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:bg-gray-700 focus:text-white transition duration-150 ease-in-out"
                    aria-label="Main menu" aria-expanded="false">
              <svg class="block h-6 w-6"
                   xmlns="http://www.w3.org/2000/svg" fill="none"
                   viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round"
                      stroke-linejoin="round" stroke-width="2"
                      d="M4 6h16M4 12h16M4 18h16"/>
              </svg>

              <svg class="hidden h-6 w-6"
                   xmlns="http://www.w3.org/2000/svg" fill="none"
                   viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round"
                      stroke-linejoin="round" stroke-width="2"
                      d="M6 18L18 6M6 6l12 12"/>
              </svg>
            </button>
          </div>

          {# Brand #}
          <div class="lg:max-w-xs lg:w-full flex-1 lg:flex-none flex items-center justify-center lg:justify-start">
            <a
                    title="{{ siteName }}"
                    class="inline-block px-4 py-2 text-black hover:text-red-600"
                    href="/">{{ svg('@webroot/icons/logo.svg')|attr({ class: 'fill-current' }) }}</a>
          </div>

          {# Nav #}
          {% if showNav %}
            <div class="absolute lg:relative z-10 border-t lg:border-t-0 border-gray-200 bg-white w-full top-0 left-0 bottom-0 right-0 lg:inset-auto mt-16 lg:mt-0"
                 :class="{'hidden': !showNav, 'lg:block': true}">
              <div class="px-8 lg:px-0">
                {% include '_includes/components/nav' with {} only %}
              </div>
            </div>
          {% endif %}
        </div>

        {# Search & Cart #}
        <div class="lg:max-w-xs lg:w-full flex justify-end items-center">
          <div class="flex items-center">
            <div class="flex">
              <a class="inline-block px-4 py-2 text-black hover:text-red-600"
                 href="#">
                {{ svg('@webroot/icons/search.svg')|attr({ class: 'w-6 h-6' }) }}
              </a>
            </div>

            {% include '_includes/components/cartMenu' %}
          </div>
        </div>
      </div>
    </div>
  </div>
</header>