<!-- Template: {{ _self }}.twig -->
{# Variables #}
{% set showNav = showNav is not defined ? true : showNav %}

{# Output #}
<header class="py-8">
  <div class="container">
    <div class="flex w-full justify-between items-center">
      <div><a href="/">{{ siteName }}</a></div>

      {% if showNav %}
        {% include '_includes/components/nav' with {} only %}
      {% endif %}

      <div>Search/Cart</div>
    </div>
  </div>
</header>