<!-- Template: {{ _self }}.twig -->
{# Variables #}
{% set showNav = showNav is not defined ? true : showNav %}

{# Output #}
<header class="py-8">
  <div class="container">
    <div class="flex w-full justify-between items-center">
      <div class="w-1/4"><a href="/">{{ siteName }}</a></div>

      {% if showNav %}
        {% include '_includes/components/nav' with {} only %}
      {% endif %}

      <div class="w-1/4 text-right">Search / <a href="{{ cartPage.url }}">Cart</a></div>
    </div>
  </div>
</header>