{# Modal #}
<div x-data="modalButton('centered')">
    <button @click.prevent="open($dispatch)" class="button">
        Open Modal
    </button>
</div>

<div x-data="modalButton('slideout')">
    <button @click.prevent="open($dispatch)" class="button">
        Open Slideout
    </button>
</div>

<div x-data="modal()" class="relative z-10">
    <template x-on:openmodal.window="openModal($event.detail.modalType)"></template>

    <div
            class="modal fixed inset-0 flex items-center justify-center"
            :class="{ 'modal-centered': modalType == 'centered', 'modal-slideout': modalType == 'slideout', 'hidden': !showWrapper }"
    >
        <template x-if="show">
            <div
                    x-transition:enter="transition ease-out duration-300"
                    x-transition:enter-start="opacity-0"
                    x-transition:enter-end="opacity-100"
                    x-transition:leave="transition ease-out duration-300"
                    x-transition:leave-start="opacity-100"
                    x-transition:leave-end="opacity-0"
                    class="modal-overlay absolute w-full h-full bg-black bg-opacity-25 top-0 left-0 cursor-pointer"
                    @click="closeModal()">
            </div>
        </template>
        <template x-if="show">
            <div
                    x-spread="modalEffects"
                    class="modal-container absolute w-1/2 bg-white shadow-lg overflow-auto flex flex-col">
                <div class="px-12 py-8 text-center bg-gray-200">
                    <h2>Some header</h2>
                </div>

                <div class="p-12 flex-1 overflow-auto">
                    <div class="text-center text-4xl">
                        <template x-if="modalType == 'centered'">
                            <div>🚀</div>
                        </template>
                        <template x-if="modalType == 'slideout'">
                            <div>👾</div>
                        </template>
                    </div>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam amet aspernatur cum cupiditate distinctio dolore, et explicabo fugiat inventore iure mollitia nam nostrum odio placeat praesentium provident quo, tempore vero?</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam amet aspernatur cum cupiditate distinctio dolore, et explicabo fugiat inventore iure mollitia nam nostrum odio placeat praesentium provident quo, tempore vero?</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam amet aspernatur cum cupiditate distinctio dolore, et explicabo fugiat inventore iure mollitia nam nostrum odio placeat praesentium provident quo, tempore vero?</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam amet aspernatur cum cupiditate distinctio dolore, et explicabo fugiat inventore iure mollitia nam nostrum odio placeat praesentium provident quo, tempore vero?</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam amet aspernatur cum cupiditate distinctio dolore, et explicabo fugiat inventore iure mollitia nam nostrum odio placeat praesentium provident quo, tempore vero?</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam amet aspernatur cum cupiditate distinctio dolore, et explicabo fugiat inventore iure mollitia nam nostrum odio placeat praesentium provident quo, tempore vero?</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam amet aspernatur cum cupiditate distinctio dolore, et explicabo fugiat inventore iure mollitia nam nostrum odio placeat praesentium provident quo, tempore vero?</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam amet aspernatur cum cupiditate distinctio dolore, et explicabo fugiat inventore iure mollitia nam nostrum odio placeat praesentium provident quo, tempore vero?</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam amet aspernatur cum cupiditate distinctio dolore, et explicabo fugiat inventore iure mollitia nam nostrum odio placeat praesentium provident quo, tempore vero?</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam amet aspernatur cum cupiditate distinctio dolore, et explicabo fugiat inventore iure mollitia nam nostrum odio placeat praesentium provident quo, tempore vero?</p>
                </div>

                <div class="px-12 py-8 text-center bg-gray-200">
                    <button @click="closeModal()" class="button font-bold py-2 px-4 rounded">Cancel</button>
                    <button @click="closeModal()" class="button submit font-bold py-2 px-4 rounded">Save</button>
                </div>
            </div>
        </template>
    </div>
</div>