<!-- Template: {{ _self }}.twig -->
{# Variables #}
{% set navItems = [] %}
{% set bikesLanding = craft.entries({ section: 'bikesLanding' }).one() ?? null %}
{% if bikesLanding %}
  {% set navItems = navItems|merge([{
    label: bikesLanding.title,
    url: bikesLanding.url,
    selected: false
  }]) %}
{% endif %}
{% set equipmentLanding = craft.entries({ section: 'equipmentLanding' }).one() ?? null %}
{% if equipmentLanding %}
  {% set navItems = navItems|merge([{
    label: equipmentLanding.title,
    url: equipmentLanding.url,
    selected: false
  }]) %}
{% endif %}
{% set servicesLanding = craft.entries({ section: 'servicesLanding' }).one() ?? null %}
{% if servicesLanding %}
  {% set navItems = navItems|merge([{
    label: servicesLanding.title,
    url: servicesLanding.url,
    selected: false
  }]) %}
{% endif %}
{% set articlesLanding = craft.entries({ section: 'articlesLanding' }).one() ?? null %}
{% if articlesLanding %}
  {% set navItems = navItems|merge([{
    label: articlesLanding.title,
    url: articlesLanding.url,
    selected: false
  }]) %}
{% endif %}
{% set navItems = navItems|merge([
  { label: 'Contact', url: '/contact', selected: false },
]) %}

{# Output #}
{% if navItems|length %}
  <nav>
    <ul class="list-none p-0 flex flex-col lg:flex-row justify-center">
      {% for item in navItems %}
        <li class="border-b border-gray-200 lg:border-b-0">
          <a class="block lg:inline-block px-0 lg:px-4 py-2 text-black hover:text-red-600" href="{{ item.url }}">{{ item.label }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
{% endif %}
