<!-- Template: {{ _self }}.twig -->
{# Variables #}

{# Output #}
<nav>
  <ul class="list-none p-0">
    <li class="inline-block">One</li>
    <li class="inline-block">Two</li>
    <li class="inline-block">Three</li>
  </ul>
</nav>