<!-- Template: {{ _self }}.twig -->
{# Variables #}

{# Output #}
<nav>
  <ul class="list-none p-0 flex flex-col lg:flex-row justify-center">
    <li class="border-b border-gray-200 lg:border-b-0"><a class="block lg:inline-block px-0 lg:px-4 py-2 text-black hover:text-red-600" href="/">Bikes</a></li>
    <li class="border-b border-gray-200 lg:border-b-0"><a class="block lg:inline-block px-0 lg:px-4 py-2 text-black hover:text-red-600" href="/">Equipment</a></li>
    <li class="border-b border-gray-200 lg:border-b-0"><a class="block lg:inline-block px-0 lg:px-4 py-2 text-black hover:text-red-600" href="/">Services</a></li>
    <li class="border-b border-gray-200 lg:border-b-0"><a class="block lg:inline-block px-0 lg:px-4 py-2 text-black hover:text-red-600" href="/">Articles</a></li>
    <li class="border-b border-gray-200 lg:border-b-0"><a class="block lg:inline-block px-0 lg:px-4 py-2 text-black hover:text-red-600" href="/">Contact</a></li>
  </ul>
</nav>