<!-- Template: {{ _self }}.twig -->
{# Variables #}

{# Output #}
<nav>
  <ul class="list-none p-0">
    <li class="inline-block"><a class="inline-block px-4 py-2 text-black hover:text-red-600" href="/">Bikes</a></li>
    <li class="inline-block"><a class="inline-block px-4 py-2 text-black hover:text-red-600" href="/">Equipment</a></li>
    <li class="inline-block"><a class="inline-block px-4 py-2 text-black hover:text-red-600" href="/">Services</a></li>
    <li class="inline-block"><a class="inline-block px-4 py-2 text-black hover:text-red-600" href="/">Articles</a></li>
    <li class="inline-block"><a class="inline-block px-4 py-2 text-black hover:text-red-600" href="/">Contact</a></li>
  </ul>
</nav>