<div id="notifications" x-data="notifications()" class="fixed left-1/2 transform -translate-x-1/2 top-0 z-40">
  <template
      x-on:notification.window="show($event.detail)"
  ></template>
  <template x-if="visible">
    <div x-spread="effects"
      class="w-full flex justify-center pt-8"
    >
      <div role="alert"
        class="notification rounded text-white shadow-lg px-4 py-2"
        :class="{ 'bg-red-600': type == 'error', 'bg-blue-500': type == 'notice' }"
        x-text="message"
      ></div>
    </div>
  </template>
</div>

{% js at endBody %}
  {% set notice = craft.app.session.getFlash('notice') %}
  {% set error = craft.app.session.getFlash('error') %}
  {% if notice %}
  setTimeout(function() {
    window.dispatchEvent(new CustomEvent('notification', {
      detail: {
        type: 'notice',
        message: '{{ notice|e('js') }}'
      }
    }));
  }, 300);

  {% endif %}
  {% if error %}
    setTimeout(function() {
      window.dispatchEvent(new CustomEvent('notification', {
        detail: {
          type: 'error',
          message: '{{ error|e('js') }}'
        }
      }));
    }, {{ notice ? '6000' : '0' }});
  {% endif %}
{% endjs %}