<div id="notifications" x-data="notifications()" x-init="init()" class="relative">
    {% for type in ['notice', 'error'] %}
        {% set message = craft.app.session.getFlash(type) %}
        {% if message %}
            <template x-if="{{ type }}Visible">
                <div x-spread="effects"
                     class="absolute z-10 w-full flex justify-center">
                    <div
                        class="notification rounded-b text-white shadow-lg px-4 py-2 {{ type }} {{ type == 'error' ? 'bg-red-600' : 'bg-blue-500' }}">
                        {{ message }}
                    </div>
                </div>
            </template>
        {% endif %}
    {% endfor %}
</div>