/.ddev
/.env
/.idea
/vendor
/node_modules
.DS_Store
!seed.sql
/web/cpresources

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Cypress
/cypress.json
