{# Params #}
{% set block = block is not defined ? false : block %}
{% set isFirst = isFirst is not defined ? false : isFirst %}
{% set isLast = isLast is not defined ? false : isLast %}
{% set products = block ? block.products.all() : [] %}

{% if block and products and products|length %}
  <!-- Template: {{ _self }}.twig -->
  <div class="container mt-8 flex justify-center">
    <div class="w-full max-w-5xl grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      {% for product in products %}
          <div>
            {% include '_includes/components/cards/product' with {
              title: product.title,
              image: product.mainImage.one(),
              url: product.url
            } only %}
          </div>
      {% endfor %}
    </div>
  </div>
{% endif %}