commands:
  01-composer:
    command: export COMPOSER_HOME=/root
  02-phpmem:
    command: sed -i 's/memory_limit = 128M/memory_limit = 512M/g' /etc/php.ini
  03-phptime:
    command: sed -i 's/max_execution_time = 30/max_execution_time = 60/g' /etc/php.ini

option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: COMPOSER_HOME
    value: /root
  - namespace: aws:elasticbeanstalk:container:php:phpini
    option_name: memory_limit
    value: 512M
  - namespace: aws:elasticbeanstalk:container:php:phpini
    option_name: max_execution_time
    value: 180