files:
  "/home/ec2-user/.bash_profile":
    mode: "000755"
    owner: root
    group: root
    content: |
      # .bash_profile

      # Get the aliases and functions
      if [ -f ~/.bashrc ]; then
              . ~/.bashrc
      fi

      # User specific environment and startup programs

      PATH=$PATH:$HOME/.local/bin:$HOME/bin:/var/app/current

      export PATH