/* Disable body scrolling */

html.showing-nav {
    @apply overflow-y-scroll lg:overflow-y-auto h-full lg:h-auto;
}

body.showing-nav {
    @apply overflow-y-hidden lg:overflow-y-auto h-full lg:h-auto;
}


/* Nav */

#main-nav {
    @apply h-32;
    height: calc(8rem + 2px); /* Add 2px so that the search bottom border is visible */
}

#header.show-nav #main-nav {
    @apply transition-all duration-500;
}

#header.show-nav #main-nav.search-focused {
    @apply h-20;
}

#main-nav.search-focused #main-nav-inner {
    @apply overflow-hidden;
    transform: translate(0, -3.15rem);
}


/* Search field + Cancel button */

.search-cancel {
    @apply transition transform opacity-100;
}

.search-form .search-field {
    @apply transition-all;
    width: calc(100% + 4.75rem);
}

.search-form.search-focused .search-field {
    width: calc(100%);
}

.search-form:not(.search-focused) .search-cancel {
    @apply translate-x-20 opacity-0;
}