{# Layout #}
{% extends '_layouts/site' %}

{# Variables #}
{% set isAllBikes = category is not defined %}
{% set colorCategories = craft.categories({
  group: 'colors'
}).all() %}
{% set bikeCategories = craft.categories({
  group: 'bikeTypes'
}).all() %}


{# Blocks #}
{% block content %}
  <!-- Template: {{ _self }}.twig -->

  {# Hero #}
  <div>
    {% include '_includes/components/hero' with {
      image: null,
      title: category.title,
      button: 'Click',
      short: true,
    } only %}
  </div>

  <div class="bg-gray-100">
    <div class="container py-4">
      <div class="flex">
        <div class="hidden md:block w-1/5">
          {% include '_includes/components/filters/bike' with {
            types: bikeCategories
          } only %}
          {% if colorCategories|length %}
            <hr>
            {% include '_includes/components/filters/color' with { colors: colorCategories } only %}
          {% endif %}
        </div>
        <div class="w-full md:w-4/5">
          <div class="flex flex-wrap w-full -mx-2 -mb-4">
            {% for var in 0..11 %}
              <div class="w-full md:w-1/2 xl:w-1/3 px-2 pb-4">
                {% include '_includes/components/cards/product' with {
                  title: 'Product ' ~ var,
                  image: true,
                  url: '/'
                } only %}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}