{# Layout #}
{% extends '_layouts/site' %}

{% block content %}
  {% set mainImage = null %}

  {% if entry is defined %}
    {% set mainImage = entry.mainImage.one() %}
  {% elseif category is defined %}
    {% set mainImage = category.mainImage.one() %}
  {% endif %}

  {% set thumbUrl = null %}

  {% if mainImage %}
    {% set thumb = {
      width: 2000,
      height: 1000,
    } %}

    {% set thumbUrl = mainImage.getUrl(thumb) %}
  {% endif %}

  <div class="bg-gray-700">
    {% include '_includes/components/hero' with {
      image: thumbUrl,
      title: entry is defined ? entry.title : category.title,
      short: true,
    } only %}
  </div>

  <div x-data="filter()" x-init="init($nextTick)"
      class="relative"
  >
    {{ sprig('ProductFilter',
      {},
      {
        id: 'filter',
        's-trigger': 'refresh, change from:.filter',
        's-indicator': '#filter-indicator',
      }
    ) }}
    <div id="filter-indicator" class="spinner-overlay">
      {% include '_includes/components/spinner' %}
    </div>
  </div>
{% endblock %}