{# Params #}
{% set block = block is not defined ? false : block %}
{% set isFirst = isFirst is not defined ? false : isFirst %}
{% set isLast = isLast is not defined ? false : isLast %}

{% if block and block.body %}
  {% set isIntro = block.intro ?? false %}
  <!-- Template: {{ _self }}.twig -->
  <div class="container pt-8 flex justify-center pb-8">
    <div class="w-full max-w-3xl {{ isIntro ? 'text-lg' : '' }}">
      {{ block.body }}
    </div>
  </div>
{% endif %}