# The environment Craft is currently running in (dev, staging, production, etc.)
ENVIRONMENT=dev

# The application ID used to to uniquely store session and cache data, mutex locks, and more
APP_ID=CraftCMS

# The secure key Craft will use for hashing and encrypting data
SECURITY_KEY=EOdiVBONceb8zFGJP7InMui2pMkvNACz

# The database server name or IP address
DB_SERVER=mysql

# The port to connect to the database with
DB_PORT=3306

# The name of the database to select
DB_DATABASE=project

# The database username to connect with
DB_USER=project

# The database password to connect with
DB_PASSWORD=project

# Craft general settings
ALLOW_UPDATES=1
ALLOW_ADMIN_CHANGES=1
BACKUP_ON_UPDATE=0
DEV_MODE=1
RUN_QUEUE_AUTOMATICALLY=0

# Default Site URL
DEFAULT_SITE_URL=http://localhost:8000/
WEB_ROOT_PATH=/var/www/project/cms/web

# Redis settings
REDIS_HOSTNAME=redis
REDIS_PORT=6379
REDIS_DEFAULT_DB=0
REDIS_CRAFT_DB=1

# Xdebug Settings
DBGP_IDEKEY=phpstorm
