{% if craft.app.request.isAjax %}{% apply spaceless %}{% block ajax %}{% endblock %}{% endapply %}{% else %}
{% include '_includes/components/seomatic' %}
<!doctype html>
<html class="antialiased smooth-scroll" lang="{{ craft.app.language | replace('_', '-') }}">

  {% include '_includes/layout/head' %}

  <body class="relative font-sans overflow-x-hidden m-0 pt-16 {% if bodyClass is defined %} {{ bodyClass }}{% endif %}">
    {% block header %}{% endblock %}

    {% block main %}{% endblock %}

    {% block footer %}{% endblock %}

    {% include '_includes/layout/foot' with {} only %}
  </body>
</html>
{% endif %}