{% if craft.app.request.isAjax %}{% spaceless %}{% block ajax %}{% endblock %}{% endspaceless %}{% else %}
<!doctype html>
<html class="antialiased smooth-scroll" lang="{{ craft.app.language | replace('_', '-') }}">

  {% include '_includes/layout/head' %}

  <body class="relative font-sans overflow-x-hidden min-h-screen m-0 {% if bodyClass is defined %} {{ bodyClass }}{% endif %}">
    {% block header %}{% endblock %}

    {% include '_includes/components/notifications' %}

    {% block main %}{% endblock %}

    {% block footer %}{% endblock %}

    {% include '_includes/layout/foot' with {} only %}
  </body>
</html>
{% endif %}