{# Layout #}
{% extends '_layouts/site' %}

{# Variables #}

{# Blocks #}
{% block content %}
  <!-- Template: {{ _self }}.twig -->

  {# Heading #}
  <div class="container py-4 text-center">
    <h1>{{ entry.heading }}</h1>
    <h2>{{ entry.subheading }}</h2>
  </div>

  {# Cart #}
  <div class="container flex justify-center">
    <div class="border-t border-gray-300 w-full max-w-5xl relative">
      {{ sprig('_includes/components/forms/cart', {
        entryId: entry.id
      }, {
        id: 'cart-sprig',
      }) }}
      <div id="cart-indicator" class="spinner-overlay">
        {% include '_includes/components/spinner' %}
      </div>
    </div>
  </div>
{% endblock %}