<!-- Template: {{ _self }}.twig -->
{% set key = key is not defined ? false : key %}

{% if key %}
  <template x-if="hasErrors('{{ key }}')">
    <ul class="text-red-600">
      <template x-for="error in getErrors('{{ key }}')">
        <li x-text="error"></li>
      </template>
    </ul>
  </template>
{% endif %}
