
<blockquote>
  <p>“Try not to gloss over complexity. Design work in the real world is pretty
    hard. If you design a fake graph, put in realistic data. If you fake redesign
    a site, don’t just magically remove an ad unit. If you create a sexy fake
    login screen, don’t forget to include a way to recover lost passwords or
    usernames …<em>Write real copy</em>.
  </p>
  <p>Lorem ipsum is for amateurs.”</p>
  <cite><a href="https://library.gv.com/fake-designs-yield-real-results-c39cfc9ae93">Daniel Burka - Designer</a></cite>
</blockquote>

<blockquote class="mt-16">
  <p>“People think focus means saying yes to the thing you’ve got to focus on. But that’s not what it means at all. It means saying no to the hundred other good ideas that there are. You have to pick
    carefully. I’m actually as proud of the things we haven’t done as the things I have done. Innovation is saying no to 1,000 things.”
  </p>
</blockquote>
