<a class="button" href="#">Anchor</a>

<input class="button" type="submit" value="Input submit">

<input class="button" type="button" value="Input button">

<button class="button">Button button</button>

<div class="button">Div button</div>