
<h3>Figure with image</h3>
<figure>
  <img src="https://source.unsplash.com/random/800x500">
  <figcaption>Fig1. A random 8x5 image from
    <a href="https://source.unsplash.com/">Unsplash</a>.
  </figcaption>
</figure>

<h3>Figure with table</h3>
<figure>
  <table>
    <thead>
      <tr>
        <th>Person</th>
        <th>Number</th>
        <th>Third Column</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Someone Lastname</td>
        <td>900</td>
        <td>Nullam quis risus eget urna mollis ornare vel eu leo.</td>
      </tr>
      <tr>
        <td>Another Person</td>
        <td>1500</td>
        <td>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nullam id dolor id nibh ultricies vehicula ut id elit.</td>
      </tr>
      <tr>
        <td>Last One</td>
        <td>2800</td>
        <td>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</td>
      </tr>
    </tbody>
  </table>
  <figcaption>If it doesn't have a caption, don't use the figure element!</figcaption>
</figure>
