<h1>Heading Elements, one through six, this being h1!</h1>
<h2>h2 Back in my <a class="a-underlined" href='#'>effervescent garden.</a></h2>
<h3>h3 Jaunty <a class="a-underlined" href='#'>zinnias</a> vie with flaunting phlox.</h3>
<h4>h4 Five or six big jet planes zoomed quickly by the new tower.</h4>
<h5>h5 Expect skilled signwriters to use many jazzy, quaint old alphabets effectively.</h5>
<h6>h6 Pack my box with five dozen liquor jugs.</h6>

<hr>

<h2>
  headings in context
</h2>

<h1>Appetere honestatis</h1>
<p class="lede">
  Eum et nostrud hendrerit, eam et justo ubique eruditi. Duo ne officiis conceptam
  adolescens, ipsum postea prodesset te pro, an eum case petentium splendide. Ei per
  velit saperet tractatos, brute omittam qui ad. Appetere explicari id duo. Ea nec
  tollit vocent singulis, quodsi volutpat no est, ex qui debet corrumpit. Ut
  nam summo verear.
</p>
<p>
  Mei nemore detraxit ne, mea suas eruditi intellegat no, at ferri scaevola sit.
  Per alienum appareat scriptorem ea. Lobortis necessitatibus has eu, porro
  scripserit duo at. Duo te <a class="a-underlined" href="#">oportere voluptatibus</a>. Vim at repudiare,
  liber saepe quaeque ne pri. In prima inermis ius. Has ex illud adipiscing,
  legere periculis torquatos ius in. Qui eius habemus no. Sed vidit splendide id.
  Numquam delenit pro at, denique dissentiunt no mei.
</p>
<h2><a class="a-underlined" href="#">Id vim perfecto appellantur</a></h2>
<p>
  Ut offendit insolens referrentur eam, in mel causae copiosae, pro veniam
  scripta ocurreret ea. In has amet detracto. Nobis aperiam dolorum eos eu,
  labitur offendit interesset vix eu. Id quo argumentum assueverit, vis facilisi
  consectetuer id. Dolorem molestie evertitur et ius, idque debet eos an, eum te
  iisque copiosae lucilius.
</p>
<h5>H5 following an H2? Don't forget that Redactor will let your clients do that, so they will undoubtedly do that!</h5>
<p>
  Illum assum atomorum cu mei, mea ne minim voluptua luptatum. Nec omittam perpetua
  in, cu dicat iisque cum, mei ut probo putent iracundia. Diam tota ocurreret in eos,
  quis propriae adversarium no usu. Ex vel case <a class="a-underlined" href="#">mucius suavitate</a>, et
  suscipit, tritani commune imperdiet est eu. Lucilius sensibus suavitate mei ut, cu
  pro minimum delicata. His veri malis in, mea nostro euismod eu.
</p>
<hr>
<p>Oh look a horizontal rule element! Clients can also do that with Redactor, by default.</p>
<h6>H6? Why not?</h6>
<p>
  Vitae concludaturque eu sit, ea eos nobis quando. Ei quod erant pro, te vis illud
  admodum. No deleniti patrioque ius, usu cu graeci interesset. Eam congue vidisse
  an, in sit audire tractatos delicatissimi. Minim civibus vel in, propriae offendit
  vix at.
</p>
<h2>Prima aliquando ex nec, ei has saepe labores</h2>
<p>
  Ut tamquam ancillae vim, ad sit cetero iuvaret, sea vitae vidisse assentior ad.
  In per reque paulo aliquando, zril ridens est ea. Esse magna docendi vim no.
  An idque aeque possit vis. Id eos modus labore possim, mea no erat augue. Cibo
  iudico ea usu, voluptua mandamus duo ea.
</p>
<p>
  Forensibus constituto has ut, ad efficiantur conclusionemque nam. Facilisis
  posidonium honestatis ea mei, id quis homero fuisset eam. Id omittantur ullamcorper
  per, an mel scripta salutatus. Ne mei mutat suscipit pertinax, est duis tibique ne.
  Sale denique omittam usu eu. Mea saepe soleat no, has id brute vidisse.
</p>
<h3>Ne magna viris sanctus vis</h3>
<p>
  Sed ex wisi rebum soleat, cum cibo dolore no, commune tractatos ad pri. Augue
  delicatissimi in duo, ei usu veritus atomorum omittantur. Ex nam harum graeco volutpat,
  nonumy nominavi electram eam at, voluptaria consetetur mea no. Novum scribentur ut mel.
  Tollit scripserit mei id, hinc ullum evertitur est cu, novum scripserit eu quo.
</p>
<h4>H4? Now we are well & truly going down the rabbit hole… said Alice of Wonderland</h4>
<p>
  Eu eum accusam disputationi, vix harum recteque dissentiet ad. Cu sed modus persius
  contentiones. Mei te ferri fastidii mentitum, ad putant fierent mediocritatem mel.
  Ne tation soluta nam, oratio eripuit an nam. Agam menandri indoctum vis ex, mel
  omnis aperiam instructior in, eam eu sumo unum. Est te alienum legendos.
</p>
