{# Layout #}
{% extends '_layouts/site' %}

{# Variables #}
{% set plans = craft.commerce.plans.getAllEnabledPlans() %}

{# Blocks #}
{% block content %}
  <!-- Template: {{ _self }}.twig -->
  {% include '_includes/components/hero' with {
    title: {{ entry.title }},
    image: entry.mainImage.one(),
  } only %}

  {% for block in entry.contentBuilder.all() %}
    {% include '_includes/components/content/' ~ block.type.handle with {
      block: block,
      isFirst: loop.first,
      isLast: loop.last,
    } %}
  {% endfor %}


  {% if plans|length %}
    <div class="container">
      <div class="max-w-4xl mx-auto grid grid-cols-1 gap-6 lg:grid-cols-2">
        {% for plan in plans %}
          {% set planInfo = plan.getInformation() ?? null %}
          {% include '_includes/components/services/plan' with {
            plan: plan
          } only %}
        {% endfor %}
      </div>
    </div>
  {% endif %}
{% endblock %}
