{# Layout #}
{% extends '_layouts/site' %}

{# Variables #}
{% set plans = craft.commerce.plans.getAllEnabledPlans() %}

{# Blocks #}
{% block content %}
  <!-- Template: {{ _self }}.twig -->
  {% include '_includes/components/hero' with {
    title: 'Bike Service',
    image: 'https://source.unsplash.com/rMPr-UhfaXI/2400x1609',
  } only %}

  <div class="max-w-2xl mx-auto p-8">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid autem dolore eos molestias repellendus suscipit vero voluptate! A dolores enim esse incidunt magnam nobis officiis, quidem reprehenderit sapiente unde voluptate.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid autem dolore eos molestias repellendus suscipit vero voluptate! A dolores enim esse incidunt magnam nobis officiis, quidem reprehenderit sapiente unde voluptate.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid autem dolore eos molestias repellendus suscipit vero voluptate! A dolores enim esse incidunt magnam nobis officiis, quidem reprehenderit sapiente unde voluptate.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid autem dolore eos molestias repellendus suscipit vero voluptate! A dolores enim esse incidunt magnam nobis officiis, quidem reprehenderit sapiente unde voluptate.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid autem dolore eos molestias repellendus suscipit vero voluptate! A dolores enim esse incidunt magnam nobis officiis, quidem reprehenderit sapiente unde voluptate.</p>
  </div>

  <div class="max-w-4xl mx-auto">
    <img src="https://source.unsplash.com/GKLmVfcXl0o/2048x1313" />
  </div>

  <div class="max-w-2xl mx-auto p-8">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid autem dolore eos molestias repellendus suscipit vero voluptate! A dolores enim esse incidunt magnam nobis officiis, quidem reprehenderit sapiente unde voluptate.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid autem dolore eos molestias repellendus suscipit vero voluptate! A dolores enim esse incidunt magnam nobis officiis, quidem reprehenderit sapiente unde voluptate.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid autem dolore eos molestias repellendus suscipit vero voluptate! A dolores enim esse incidunt magnam nobis officiis, quidem reprehenderit sapiente unde voluptate.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid autem dolore eos molestias repellendus suscipit vero voluptate! A dolores enim esse incidunt magnam nobis officiis, quidem reprehenderit sapiente unde voluptate.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid autem dolore eos molestias repellendus suscipit vero voluptate! A dolores enim esse incidunt magnam nobis officiis, quidem reprehenderit sapiente unde voluptate.</p>
  </div>


  {% if plans|length %}
    <div class="container">
      <div class="max-w-4xl mx-auto grid grid-cols-1 gap-6 lg:grid-cols-2">
        {% for plan in plans %}
          {% set planInfo = plan.getInformation() ?? null %}
          {% include '_includes/components/services/plan' with {
            plan: plan
          } only %}
        {% endfor %}
      </div>
    </div>
  {% endif %}
{% endblock %}
