{% set address = address is not defined ? null : address %}
{% set redirectUrl = redirectUrl is not defined ? craft.app.request.getUrl() : redirectUrl %}
{% set redirectParams = redirectParams is not defined ? { updated: 'address' } : redirectParams %}

{% if address %}
  <!-- Template: {{ _self }}.twig -->
  <div class="absolute top-1/2 right-0 pr-4 sm:pr-8 transform -translate-y-1/2"
       x-data="modalButton('address', { id: {{ address ? address.id : '\'new\'' }}, method: 'post', action: 'commerce/customer-addresses/save' }, 'slideout')">
    <a href="#" x-on:click.prevent="open($dispatch)">
      {{ 'Edit'|t }}
    </a>
  </div>
{% endif %}