{# Layout #}
{% extends '_layouts/site' %}

{# Variables #}
{% set bikeCategories = craft.categories({
  group: 'bikeTypes'
}).all() %}

{# Blocks #}
{% block content %}
  <!-- Template: {{ _self }}.twig -->

  {# Hero #}
  <div>
    {% include '_includes/components/hero' with {
      image: null,
      title: 'New Bikes!',
      button: 'Click',
    } only %}
  </div>

  <div class="p-6">
    {# Bike Categories #}
    {% if bikeCategories|length %}
      <div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
          {% for bikeCategory in bikeCategories %}
            {% include '_includes/components/cards/category' with {
              title: bikeCategory.title,
              image: null,
              url: bikeCategory.url,
            } only %}
          {% endfor %}
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}