{# Layout #}
{% extends '_layouts/site' %}

{# Variables #}
{% set bikeCategories = craft.categories({
  group: 'bikeTypes'
}).all() %}

{# Blocks #}
{% block content %}
  <!-- Template: {{ _self }}.twig -->

  {# Hero #}
  <div>
    {% include '_includes/components/hero' with {
      image: 'https://www.specialized.com/medias/MTB-2363-Home-Hero-2880x1620-Experience.jpg?context=bWFzdGVyfHJvb3R8OTc3MjMzfGltYWdlL2pwZWd8aDk0L2hhOC85MjMxNzk0MzcyNjM4LmpwZ3w0NGE2YWI1OTM3ZTBjZjBjMzdiMWRkNDgxZDJiMjZhZDExZDMwNmVhZDg0NjBjNjg4M2YxOTQ3NTVmYjQwYWMw',
      title: 'Made for fun since 1986',
      button: 'Browse all bikes',
      buttonTitle: 'Browse all bikes',
      buttonUrl: url('bikes'),
    } only %}
  </div>

  <div class="p-6">
    {# Bike Categories #}
    {% if bikeCategories|length %}
      <div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
          {% for bikeCategory in bikeCategories %}
            {% include '_includes/components/cards/category' with {
              title: bikeCategory.title,
              image: null,
              url: bikeCategory.url,
            } only %}
          {% endfor %}
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}